{{ define "main" }}
<div class="main-content">
  <div class="home-sliders">
    <div class="single-slider" data-theme="light" style="z-index: 2; background-color: #fff;">
      <div class="slider-text">
        <h2 class="h1">Lorem Ipsum is simply dummy text</h2>
        <div class="slider-link">
          <a href="http://">More text</a>
        </div>
      </div>
      <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_vfuqgv0l.json" background="transparent"
        speed="1" loop autoplay></lottie-player>
    </div>
  </div>
</div>
{{ end }}