{{ define "main" }}
<div class="main-content">
  <div class="home-sliders" id="home-sliders">

    <div class="single-slider is-current" data-theme="light" style="background-color: #fff;">
      <div class="slider-container">
        <div class="slider-text">
          <h2 class="h1">Lorem Ipsum is simply dummy text</h2>
          <div class="slider-link">
            <a href="http://">More text</a>
          </div>
        </div>
        <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_vfuqgv0l.json" background="transparent"
          speed="1" loop autoplay></lottie-player>
      </div>
    </div>

    <!-- Another slider-->
    <div class="single-slider" data-theme="light" style="background-color: #fff;">
      <div class="slider-container">
        <div class="slider-text">
          <h2 class="h1">Lorem Ipsum is simply dummy texts</h2>
          <div class="slider-link">
            <a href="http://">More text</a>
          </div>
        </div>
        <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_vfuqgv0l.json" background="transparent"
          speed="1" loop autoplay></lottie-player>
      </div>
    </div>

    <!-- Another slider-->
    <div class="single-slider" data-theme="dark" style="background-color: #006ff9;">
      <div class="slider-container">
        <div class="slider-text">
          <h2 class="h1">Lorem Ipsum </h2>
          <div class="slider-link">
            <a href="http://">More text</a>
          </div>
        </div>
        <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_vfuqgv0l.json" background="transparent"
          speed="1" loop autoplay></lottie-player>
      </div>
    </div>

  </div>
</div>
{{ end }}